{% extends 'core_layout.html' %}

{% block scripts %}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
      selector: '#testtextarea'
    });
  </script>
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<form method="post" action="{{url_for('blog_bp.create_blog_post')}}">

    <div class="mb-3">
        <a href="{{url_for('blog_bp.create_blog_category')}}"><p style="padding-left: 1rem">+ Category</p></a>
        <input class="form-control" type="text" name="blog_title" id="blogtitle" placeholder="Title">
      </div>
      <div class="mb-3">
        <select class="form-select" id="floatingSelect" aria-label="create-category" name="blog_category" id="blogcategory">
          <option>Select Category</option>
          {% for category in categories %}
            <option value="{{category.name}}">{{category.name}}</option>
          {% endfor %}
        </select>        
      </div>
      <div class="mb-3">
        <textarea id="testtextarea" name="blog_content"></textarea>
      </div>
      <div class="mb-3">
          <input type="submit" value="submit">
      </div>
</form>
{% endblock content %}