{% extends 'core_layout.html' %}

{% block content %}
<div class="d-grid gap-5">
    <div class="mt-5 mx-auto">
        <u><h1 class="main_title">{{post.title}}</h1></u>
        <div class="d-inline p-2 text-bg-primary">{{post.author}}</div>
        <div class="d-inline p-2 text-bg-dark">{{post.category}}</div>
        <div class="d-inline p-2 text-bg-dark">{{post.created_at}}</div>
        {% if user %}
        <div class="d-inline p-2 text-bg-dark"><a href="{{url_for('blog_bp.edit_blog_post', blog_id=post.id)}}">edit</a></div>
        {% endif %}
    </div>
    
    <div style="max-width: 50rem; margin: 0 auto;">
        {{post.body | safe}}
    </div>
</div>
{% endblock content %}